<div id="tf-page-header" class="layout-two text-center">
  <div class="container">
    <h5><em><%= @profile.first_name %> <%= @profile.last_name %></em></h5>
    <hr>
    <h2 class="text-uppercase">Hey, I'm <%= @profile.first_name %></h2>
  </div>
</div>

<div id="tf-content" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-md-offset-1">
        <div class="post-block text-center">
          <div class="col-md-5">
            <%= image_tag(@profile.image, class: 'img-responsive', alt: "#{@profile.first_name}'s profile picture") %>
          </div>

          <div class="col-md-7">
            <h3>I currently live in <%= @profile.city %>, <%= @profile.country %></h3>
            <p><%= @profile.bio %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="tf-page-header" class="layout-two text-center">
  <div class="container">
    <h5><em>Many more to come!</em></h5>
    <hr>
    <h2 class="text-uppercase"><%= @profile.first_name %>'s Posts</h2>
  </div>
</div>

<div id="tf-content" class="layout-two">
  <% @profile.user.posts.each do |post| %>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 blog-post post-detail">
          
          <!--Date of Review-->
          <a href="achives.html" class="meta-date">
            <span class="bolder">
              <%= post.created_at.strftime("%d") %>
            </span>
            <%= post.created_at.strftime("%b") %>
          </a>
          
          <!--Review Title-->
          <h2><%= link_to post.title, post %></h2>


          <div class="img-wrap">
            <!--Review Tag Lines-->
            <div class="metas">
              <a href="#" class="meta-author"><%= post.topic %></a>
              <a href="#" class="meta-cat"><%= post.city %></a>
            </div>
            
            <!-- Review Image -->
            <%= link_to(image_tag(post.image, class: "img-responsive"), post) if post.image? %>
          </div>
              
          <!--Product Shop and Address-->
          <h5 class="text-center"><em> Reviewed from <%= post.city %>,
          <%= post.country %>.</em></h5>

          <hr>
              
          <!--Product Review Body-->
          <div class="post-content">
            <%= truncate(post.body, length: 400) %>
          </div>

        </div>
      </div>
    </div>
  <% end %>
</div>