<div id="tf-page-header" class="layout-two text-center">
  <div class="container">
    <h5><em>Ethical and Glamorous</em></h5>
    <hr>
    <h2 class="text-uppercase">Lifestyle</h2>
  </div>
</div>


<div id="tf-content" class="layout-two">
  <div class="container">
    <div class="row">
      <% @lifestyle_posts.each do |lifestyle_post| %>
        <div class="col-md-8 col-md-offset-2"> <!-- Left Content for Blog Posts -->
          <div class="blog-post">
            <div class="post-detail">
              
              <!--Date of Review-->
              <a href="achives.html" class="meta-date">
                <span class="bolder">
                  <%= lifestyle_post.created_at.strftime("%d") %>
                </span>
                <%= lifestyle_post.created_at.strftime("%b") %>
              </a>
              <!--End Date of Review-->
              
              <!--Review Title-->
              <%= link_to @lifestyle_post do %>
                <h2><%= lifestyle_post.title %></h2>
              <% end %>
              <!--Review Image and Tag Lines-->
              <div class="img-wrap">
                <div class="metas">
                  <a href="#" class="meta-author"><%= lifestyle_post.topic %></a>
                  <a href="#" class="meta-cat"><%= lifestyle_post.city %></a>
                </div>
                <%= link_to @lifestyle_post do %>
                  <%= image_tag(lifestyle_post.image, class: "img-responsive") if lifestyle_post.image? %>
                <% end %>
              </div>
              <!--End Review Image and Tag Lines-->
          
              <!--Product Shop and Address-->
              <h5 class="text-center"><em> Reviewed from <%= lifestyle_post.city %> in <%= lifestyle_post.city %>, 
              <%= lifestyle_post.country %>.</em></h5><hr>
            
              <!--Product Review Body-->
              <div class="post-content"> <!-- Post Main Content -->
                <%= lifestyle_post.body %>
                
                <div class="text-center col-lg-4 col-lg-offset-4 col-md-4 col-md-offset-4 col-sm-12 col-xs-12">
                  <%= link_to 'Read More', lifestyle_post_path(lifestyle_post), class: 'btn btn-default btn-block tf-btn color' %>
                </div>
              </div>

            </div>  
          </div>
        </div> 
      <% end %> 
    </div>
  </div>
</div>



<div class="text-center col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
  
  <% if user_signed_in? %>
    <%= link_to 'New Lifestyle post', new_lifestyle_post_path, class: 'btn btn-default btn-block tf-btn color' %>
  <% end %>
  
</div>


