<div class="row text-center">
  
  <div id="tf-page-header" class="text-center">
    <div class="container">
      <h5><em>Exclusive and Eco-friendly</em></h5>
      <hr>
      <h2 class="text-uppercase">Cosmetics</h2>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-sm-12 col-xs-12">

    <%= link_to 'Write New Cosmetics Review', new_cosmetics_review_path, class: 'btn btn-default btn-block tf-btn color' %>
  </div>
</div>
    
<div class="row text-center">
  <div class="col-lg-10 col-lg-offset-1 col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-1 col-xs-12">
    <% @cosmetics_reviews.each do |cosmetics_review| %>
      <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-6 col-xs-8 col-xs-offset-1">
        <div class="ih-item square effect10 bottom_to_top">
          <%= link_to cosmetics_review do %>
            <%= image_tag(cosmetics_review.image, class: "img") %>
            <div class="info">
              <h3><%= cosmetics_review.product_name %></h3>
              <p><%= cosmetics_review.brand %></p>
            </div>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
