<div id="tf-page-header" class="layout-two text-center">
  <div class="container">
    <h5><em>Cosmetics Review</em></h5>
    <hr>
    <h2 class="text-uppercase"><%= @cosmetics_review.product_name %> by <%= @cosmetics_review.brand %></h2>
  </div>
</div>

<div id="tf-content" class="layout-two">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> <!-- Left Content for Blog Posts -->
        <div class="blog-post">
          <div class="post-detail">
            
            <!--Date of Review-->
            <a href="achives.html" class="meta-date">
              <span class="bolder">
                <%= @cosmetics_review.created_at.strftime("%d") %>
              </span>
              <%= @cosmetics_review.created_at.strftime("%b") %>
            </a>
            <!--End Date of Review-->
            
            <!--Review Title-->
            <h2><%= @cosmetics_review.cosmetics_review_title %></h2> <!-- Post Title-->
            
            <!--Review Image and Tag Lines-->
            <div class="img-wrap">
              <div class="metas">
                <a href="#" class="meta-author"><%= @cosmetics_review.product_name %></a>
                <a href="#" class="meta-cat"><%= @cosmetics_review.brand %></a>
              </div>
              <%= image_tag(@cosmetics_review.image, class: "img-responsive") if @cosmetics_review.image? %>
            </div>
            <!--End Review Image and Tag Lines-->
          </div>
          
          <!--Product Shop and Address-->
          <h5 class="text-center"><em> Bought at <%= @cosmetics_review.store %> in <%= @cosmetics_review.city %>, 
          <%= @cosmetics_review.country %>.</em></h5><hr>
          
          <!--Product Review Body-->
          <div class="post-content"> <!-- Post Main Content -->
            <%= @cosmetics_review.cosmetics_review_body %>
          </div>
            
          <!--Product Price and Company Website-->
          <div class="post-content"> <!-- Post Main Content -->
             Price: <%= @cosmetics_review.price %>.
             Website of <%= @cosmetics_review.brand %>: <%= @cosmetics_review.company_website %>
          </div>
          <!--End Price and Website-->
          
          <!--Youtube Video-->
          <h5 class="text-center">
          <% if @cosmetics_review.video.present? %>
           <span class="bolder">Conscioux Video Review</span>
            <div class="embed-container"> 
              <%= embed(@cosmetics_review.video) %>
            </div>
          <% end %>
          </h5>
          <!--End Youtube Video-->
          
          <!--Social Media Links-->
          <ul class="list-inline social"><!-- Social Share -->
            <li><%= link_to 'https://github.com/sanlouise' do %>
              <i class="fa fa-facebook"></i>
            <% end %></li>
            
            <li><%= link_to 'https://github.com/sanlouise' do %>
              <i class="fa fa-pinterest"></i>
            <% end %></li>
            
            <li><%= link_to 'https://github.com/sanlouise' do %>
              <i class="fa fa-instagram"></i>
            <% end %></li>
  
            <li><%= link_to 'https://github.com/sanlouise' do %>
              <i class="fa fa-twitter"></i>
            <% end %></li>
          </ul>
          <!--End Social Media Links-->
        
        <!-- End Blog Post -->
        </div>
        
        <!--Author Information-->
        <div class="author-box"> <!-- About the Post Author -->
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" src="http://placehold.it/100x100" alt="..."> <!-- Author Image -->
              </a>
            </div>
          <div class="media-body">
          <h4 class="media-heading">Reviewed by Jenn Pereia</h4> <!-- Author name -->
          Fashion Designer Jenn Pereira,the owner of Pereira boutique and clothing lines, has previously exhibited in London, England, USA, Japan, Italy and Dubai, where her creationswas highly appreciated.
          <br><a href="authors.html">More Posts From Jenn</a>
          </div>
        </div>
      </div> <!-- end About the Post Author -->
      
    </div><!-- End of Posts/Blogrol -->

    <div class="col-md-4"> <!-- Right content for sidebar and widget area-->
      <div class="sidebar"><!-- sidebar -->

        <div class="widget search"><!-- Search Widget -->
          <div class="widget-wrap">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
          </div>
        </div>

        <div class="widget recent"><!-- Recent Post Widget -->
          <h4>Recent Reviews</h4>
          <div class="widget-wrap">
            <% @cosmetics_reviews.each do |review| %>
              <div class="thumb-post"><!-- Thumbnail Post #1 -->
                <%= link_to review do %>
                  <div class="info">
                    <h3 class="media-heading"><%= review.cosmetics_review_title %></h3>
                     <%= image_tag(review.image, class: "img-responsive") %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
            
        </div>
      </div>
    </div>
  </div>
</div>

        
<%= link_to 'Destroy', cosmetics_review_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Edit', edit_cosmetics_review_path(@cosmetics_review) %> |
<%= link_to 'Back', cosmetics_reviews_path %>
