<div id="tf-page-header" class="layout-two text-center">
  <div class="container">
    <h5><em>Cosmetics Review</em></h5>
    <hr>
    <h2 class="text-uppercase"><%= @cosmetics_review.product_name %> by <%= @cosmetics_review.brand %>
    <%= rating_for @cosmetics_review, "rating", :enable_half => true %></h2>
  </div>
</div>

<div id="tf-content" class="layout-two">
  <div class="container">
    <div class="row">
      <div class="col-md-8"> <!-- Left Content for Blog Posts -->
        <div class="blog-post">
          <div class="post-detail">
            
            <!--Date of Review-->
            <a href="achives.html" class="meta-date">
              <span class="bolder">
                <%= @cosmetics_review.created_at.strftime("%d") %>
              </span>
              <%= @cosmetics_review.created_at.strftime("%b") %>
            </a>
            <!--End Date of Review-->
            
            <!--Review Title-->
            <h2><%= @cosmetics_review.cosmetics_review_title %></h2> <!-- Post Title-->
            
            <!--Review Image and Tag Lines-->
            <div class="img-wrap">
              <div class="metas">
                <a href="#" class="meta-author"><%= @cosmetics_review.product_name %></a>
                <a href="#" class="meta-cat"><%= @cosmetics_review.brand %></a>
              </div>
              <%= image_tag(@cosmetics_review.image, class: "img-responsive") if @cosmetics_review.image? %>
            </div>
            <!--End Review Image and Tag Lines-->
          </div>
          
          <!--Product Shop and Address-->
          <h5 class="text-center"><em> Bought at <%= @cosmetics_review.store %> in <%= @cosmetics_review.city %>, 
          <%= @cosmetics_review.country %>.</em></h5><hr>
          
          
          <!--Product Review Body-->
          <div class="post-content"> <!-- Post Main Content -->
            <%= @cosmetics_review.cosmetics_review_body %>
          </div>
            
          <!--Product Price and Company Website-->
          <div class="post-content"> <!-- Post Main Content -->
             <%= rating_for @cosmetics_review, "rating", :enable_half => true %>
             Approximate Price: <%= @cosmetics_review.price %> euros for <%= @cosmetics_review.quantity %>.
             
             
             <%= link_to @cosmetics_review.company_website do %>
               <p>Website of <%= @cosmetics_review.brand %></p>
             <% end %>
          </div>
          <!--End Price and Website-->
          
          <!--Youtube Video-->
          <h5 class="text-center">
          <% if @cosmetics_review.video.present? %>
           <span class="bolder">Conscioux Video Review</span>
            <div class="embed-container"> 
              <%= embed(@cosmetics_review.video) %>
            </div>
          <% end %>
          </h5>
          <!--End Youtube Video-->
        <!-- End Blog Post -->
        </div>
        
        <!--Author Information-->
        <div class="author-box"> <!-- About the Post Author -->
          <div class="media text-center">
            <%= link_to @user do %>
              <%= image_tag(@cosmetics_review.user.image, width: 180, height: 150, class: "img-responsive") %>
            <% end %>
            <div class="media-body">
              <h4 class="media-heading">Reviewed by: <%= @cosmetics_review.user.first_name %></h4> <!-- Author name -->
              <%= @cosmetics_review.user.description %>
              
            </div>
            <%= link_to "Back to All Reviews", cosmetics_reviews_path, class: "btn btn-xs btn-primary" %>  
            <% if user_signed_in? && (current_user == @cosmetics_review.user || current_user.admin?) %>| 
              <%= link_to "Edit this Review", edit_cosmetics_review_path(@cosmetics_review), class: "btn btn-xs btn-warning" %> |
              <%= link_to "Delete this Review", cosmetics_review_path, method: :delete, 
                                                  data: { confirm: "Are you sure you want to delete this review?" }, 
                                                  class: "btn btn-xs btn-danger" %>
            <% end %>
          </div>
        </div> <!-- end About the Post Author -->
      </div><!-- End of Posts/Blogrol -->

    <div class="col-md-4"> <!-- Right content for sidebar and widget area-->
      <div class="sidebar"><!-- sidebar -->

        <div class="widget search"><!-- Search Widget -->
          <div class="widget-wrap">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Search for...">
              <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
              </span>
            </div><!-- /input-group -->
          </div>
        </div>

        <div class="widget recent"><!-- Recent Post Widget -->
          <h4>Recent Reviews</h4>
          <div class="widget-wrap">
            <% @cosmetics_reviews.each do |review| %>
              <div class="thumb-post"><!-- Thumbnail Post #1 -->
                <%= link_to review do %>
                  <div class="info">
                    <h3 class="media-heading"><%= review.cosmetics_review_title %></h3>
                     <%= image_tag(review.image, class: "img-responsive") %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
            
        </div>
      </div>
    </div>
  </div>
</div>
