<div class="row text-center">
  <div id="tf-page-header" class="text-center">
    <div class="container">
      <h5><em>Exclusive and Eco-friendly</em></h5>
      <hr>
      <h2 class="text-uppercase">Cosmetics</h2>
    </div>
  </div>
</div>
 
<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div class="cosmetics-categories">
        <div class="col-md-4 col-sm-12 col-xs-12">
          <%= link_to 'Makeup', makeup_path, class: 'btn btn-default cosmetics-button' %>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <%= link_to 'Body & Bath', bodybath_path, class: 'btn btn-default cosmetics-button' %>
        </div>
        <div class="col-md-4 col-sm-12 col-xs-12">
          <%= link_to 'Hair', hair_path, class: 'btn btn-default cosmetics-button' %>
        </div>
    <!--    <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-6 col-xs-12">-->
    <!--      <div class="hovereffect">-->
    <!--        <= image_tag("makeup.jpg", class: "img-responsive") %>-->
    <!--        <div class="overlay">-->
    <!--          <h2>Makeup</h2>-->
    <!--          <a class="info" href="/makeup">Go!</a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
        
    <!--    <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-6 col-xs-12">-->
    <!--      <div class="hovereffect">-->
    <!--        <= image_tag("body.jpg", class: "img-responsive") %>-->
    <!--        <div class="overlay">-->
    <!--          <h2>Body & Bath</h2>-->
    <!--           <a class="info" href="/bodybath">Go!</a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
        
    <!--    <div class="col-lg-3 col-lg-offset-1 col-md-4 col-sm-6 col-xs-12">-->
    <!--      <div class="hovereffect">-->
    <!--        <= image_tag("hair.jpg", class: "img-responsive") %>-->
    <!--        <div class="overlay">-->
    <!--          <h2>Hair</h2>-->
    <!--           <a class="info" href="/hair">Go!</a>-->
    <!--        </div>-->
    <!--      </div>-->
    <!--    </div>-->
    <!--  </div> <!--Close cosmetics categories-->
    <!--</div>-->
  
  
        <div class="text-center col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-12 col-xs-12">
          <%= link_to 'See All Reviews', cosmetics_reviews_path, class: 'btn btn-default btn-block tf-btn color' %>
          
          <% if user_signed_in? %>
            <%= link_to 'Write New Review', new_cosmetics_review_path, class: 'btn btn-default btn-block tf-btn color' %>
          <% end %>
          
        </div>
      </div>
    </div>
  </div>
</div>


