<div id="tf-sliders">
  <div class="container">
    <div id="header-slider" class="carousel slide layout-two" data-ride="carousel">
      <div class="carousel-inner" role="listbox">
        <div class="item active">

          <!-- Homepage Image -->
          <%= image_tag("lipstick-girl.jpeg") %>
          <!-- Categories Link -->
          <div class="col-md-6 nopadding">
            <div class="thumb-block c2">
              <h5><%= link_to 'Luxury Eco-Friendly Cosmetics', categories_path, class: 'white-text' %></h5>
              <hr>
            </div>
          </div>

          <!-- Blog Link -->
          <div class="col-md-6 nopadding">
            <div class="thumb-block c3">
              <h5><%= link_to 'Blog', posts_path, class: 'white-text' %></h5>
              <hr>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- About Link -->
<div id="vlamorous-content">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <div class="post-block">

          <h3 class="media-heading">Be Vlamorous</h3>

          <div class="post-detail text-center">
            <h4>Look and feel your best with ethical luxury cosmetics.</h4>
            <h4>Conscioux writes honest reviews about honest brands. We never compromise
            on quality.</h4>
            <h5>No animal testing & 100% vegan.</h5>
          </div>
          
          <div class="row">
            <div class="col-col-md-10 col-sm-12 col-xs-12">
              <%= link_to 'Read More', about_path, class: 'btn btn-default btn-block tf-btn color' %>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
  
<div id="tf-content" class="layout-two">
  <div class="container">
    <div class="row">
      <!-- FEATURED BLOG POST -->
      <%= render 'featured_post', featured_post: @featured_post %>

      <!-- Sidebar -->
      <%= render 'sidebar', reviews: @reviews %>
    </div>
  </div>
</div>
    