<div class="row">
  <div id="tf-page-header" class="text-center">
    <div class="container">
      <h5><em>Feel free to get in touch!</em></h5>
      <hr>
      <h2 class="text-uppercase">Contact Us</h2>
    </div>
  </div>
  
  <div class="col-md-4 col-md-offset-4">
    <div class="well">
      <%= form_for @contact do |f| %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: 'form-control' %>
      </div>
      <div class="form-group">
        <%= f.label :comments, "Message" %>
        <%= f.text_area :comments, rows: 6, class: 'form-control' %>
       </div>
        <%= f.submit 'Submit', class: 'btn btn-default btn-block tf-btn color' %>
      <% end %>
    </div>
  </div>
</div>