<div class="row">
  <div class="col-md-6 col-md-offset-3 col-xs-10 col-xs-offset-1">
    <%= form_for(@post) do |f| %>
      
      <div class="form-group">
        <%= f.label :topic, "Topic" %>
        <%= f.select :topic, ['Yoga', 'Restaurant', 'Shop', 'Diet', 'Workout', 'Bar'], {}, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :city %>
        <%= f.text_field :city, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :country %><br>
        <%= f.text_field :country, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :interviewed_people %><br>
        <%= f.text_field :interviewed_people, class: 'form-control' %>
      </div>

      <div class="file-field input-field">
          <%= f.label :image %><br>
          <%= f.text_field :image, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :title %><br>
        <%= f.text_field :title, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :body %><br>
        <%= f.text_area :body, rows: 20, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :takeaways %><br>
        <%= f.text_area :takeaways, rows: 5, class: 'form-control' %>
      </div>
      
      <div class="form-group">
        <%= f.label :video, "Full Youtube URL" %><br>
        <%= f.text_field :video, class: 'form-control' %>
      </div>
    
      <div class="actions">
        <%= f.submit 'Submit', class: 'btn btn-default btn-block tf-btn color' %>
      </div>

    <% end %>
  </div>
</div>
