<div class="row text-center">
  <div id="tf-page-header" class="text-center">
    <div class="container">
      <h5><em>Exclusive and Eco-friendly</em></h5>
      <hr>
      <h2 class="text-uppercase"><%= @category.name %> Products</h2>
    </div>
  </div>
</div>

<%= render './about_header' %>


<div class="container">      
  <div class="row">
  
    <% if user_signed_in? %>
      <div class="text-center">
        <%= link_to "Edit Category Name", edit_category_path(@category), class: 'btn btn-warning' %>
        <br/><br/>
        <%= link_to "New Product for #{@category.name} Category", new_category_product_path(@category), class: 'btn btn-success' %>
      </div>
      <br/><br/>
    <% end %>

    <% @category.products.each do |product| %>
      <%= link_to category_product_path(@category, product) do %>
        <div class="col-sm-4">
          <div class="cosmetics-review">
            
            <div class="hidden-xs text-center">
              <%= image_tag(product.image, height: 200, class: "stretch-div-img") %>
            </div>

            <div class="cosmetics-review-index">
              <h3 class="text-center"><%= product.name %></h3>
              <ul class="cosmetics-review-index-ul text-center"><li>Brand: <%= product.brand %></li>
                <li>Price: €<%= product.price %> per <%= product.quantity %></li>
              </ul>
            </div>

          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>