<div class="row text-center">
  <div id="tf-page-header" class="text-center">
    <div class="container">
      <h5><em>Exclusive and Eco-friendly</em></h5>
      <hr>
      <h2 class="text-uppercase"><%= @product.category.name %> Products</h2>
    </div>
  </div>
</div>

<%= render './about_header.html.erb' %>

<div class="container">      
  <div class="row">

    <div class="text-center">
      <!-- Product Name and Brand -->
      <h2 class="text-center"><%= @product.name %></h2>
      <h5><%= @product.brand %></h5>

      <% if user_signed_in? %>
        <%= link_to 'Write New Review', new_category_product_review_path(@product.category, @product), class: 'btn btn-success' %>
        <br/><br/>
      <% end %>
    </div>

    <!-- PRODUCT REVIEWS -->
    <% @product.reviews.each do |review| %>
      <div class="col-sm-12 text-center">
        <div class="cosmetics-review">
          <div class="hidden-xs">
            <!-- Review Image -->
            <%= link_to image_tag(review.image, height: 200, class: "stretch-div-img"), category_product_review_path(@product.category, @product, review) %>
          </div>
          
          <div class="cosmetics-review-index">
            <!-- Review Title -->
            <h3 class="text-center"><%= review.title %></h3>

            <ul class="cosmetics-review-index-ul text-center">
              <!-- Review created by User -->
              <li>Reviewed by <%= link_to "#{review.user.profile.first_name} #{review.user.profile.last_name} in #{review.city}, #{review.country}", review.user.profile, class: 'white' %></li>

              <%= link_to category_product_review_path(@product.category, @product, review) do %>
                <!-- Review Rating -->
                <li>Rating</li>
                <br/>

                <!-- Review Body -->
                <li><%= review.body.truncate(300) %></li>
              <% end %>
            </ul>
          </div>

        </div>
      </div>
    <% end %>

  </div>
</div>