<div class="row text-center">
  <div id="tf-page-header" class="text-center">
    <div class="container">
      <h5><em>Exclusive and Eco-friendly</em></h5>
      <hr>
      <h2 class="text-uppercase">All Cosmetics Reviews</h2>
    </div>
  </div>
</div>

<div class="container"><!-- Container -->
  <div class="row"><!-- Row -->
    <div class="col-md-10 col-md-offset-1"> <!-- Left Content for Blog Posts -->
    
      <% if user_signed_in? %>
        <%= link_to 'Write New Review', new_cosmetics_review_path, class: 'btn btn-default btn-block tf-btn color' %>
      <% end %>
      <div class="post-block"> <!-- Post #1-->
        <div class="post-detail">
          
          <div class="post-detail text-center">
            <h4>Honest reviews about honest brands.</h4> 
            <h5 class="uncondensed">Only vegan, organic products, that are not tested on animals.</h5>
          </div>
          <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12 col-xs-12">
              <%= link_to 'Read More', about_path, class: 'btn btn-default btn-block tf-btn color' %>
            </div>
          </div>
        </div><!-- end Post #1-->
      </div>
    </div>
  </div>
</div>

<div class="container">      
  <div class="row">
    <% @cosmetics_reviews.each do |review| %>
      <%= link_to review do %>
      <div class="col-lg-3 col-md-4 col-sm-4 col-xs-12">
        <div class="cosmetics-review">
          
          <div class="hidden-xs">
            <%= image_tag(review.image, height: 200, class: "stretch-div-img") %>
          </div>
            <div class="cosmetics-review-index">
              <h3 class="text-center"><%= review.product_name %></h3>
              <p><ul class="cosmetics-review-index-ul text-center"><li>Brand: <%= review.brand %></li>
                <li>Price: €<%= review.price %> per <%= review.quantity %></li>
                <li><%= rating_for review, "rating", :enable_half => true %></li></ul></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

