<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
<body>
  <header>
    <%= render 'layouts/nav/nav' %>
  </header>

  <main>
    <%= render 'layouts/notices' %>
    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
  <%= javascript_include_tag 'application' %>

</body>
</html>
