<!DOCTYPE html>
<html lang="en">
  <head>
    <%= render 'layouts/head' %>
  </head>
<body>
  <header>
    <%= render 'layouts/nav/nav' %>
  </header>

  <main>
    <%= render 'layouts/notices' %>
    <%= yield %>
  </main>

  <%= render 'layouts/footer' %>
  
  <%= javascript_include_tag 'application' %>
</body>
</html>
